*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# minecraft and forge
.gradle
.settings
bin
build/classes
build/sources
build/resources
build/dependency-cache
build/tmp
config
crash-reports
logs
# irony
mods
resourcepacks
saves

.classpath
.project
options.txt
usernamecache.json
screenshots/

BUILD.bat
